@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafb;
  font-weight: 500;
}

h2 {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  margin-bottom: 0;
}

#home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 470px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.form-p {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.035em;
  color: #828282;
}

.form-p-sub {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.035em;
  color: #bdbdbd;
}

#input-label {
  cursor: pointer;
  display: flex;
  width: 338px;
  height: 218.9px;
  background: #f6f8fb;
  border: 1px dashed #97bef4;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-label:hover {
  background: #f2f2f2;
}

#drop-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

input[type='file'] {
  display: none;
}

.file-upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  width: 101px;
  height: 32px;
  background: #2f80ed;
  border-radius: 8px;

  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.035em;

  color: #ffffff;
  transition: 0.3s;
}

.card-img {
  border-radius: 12px;
  object-fit: contain;
}

.link-container {
  display: flex;
  position: relative;
  font-size: 12px;
}

.link-input {
  width: 256px;
  height: 35px;
  padding: 0;
  padding-left: 10px;

  background: #f6f8fb;

  border: 1px solid #e0e0e0;
  border-radius: 8px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 74px;
}

.link-button {
  cursor: pointer;
  position: absolute;
  width: 74px;
  height: 30px;

  background: #2f80ed;
  border: none;
  border-radius: 8px;

  line-height: 12px;

  text-align: center;
  letter-spacing: -0.035em;

  color: #ffffff;

  top: 0;
  right: 8px;
  z-index: 2;
  top: 4px;
  transform: translateX(5px);
  transition: 0.3s;
}

.file-upload-button:hover,
.link-button:hover {
  opacity: 0.9;
}

.check-success {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 140px;

  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px 40px;
}

.loading-bar {
  width: 100%;
  height: 6px;
  overflow: hidden;
  border-radius: 8px;
  background: #f2f2f2;
}

.bar {
  width: 100%;
  height: 100%;
  background: #2f80ed;
  border-radius: 8px;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
